<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar site-navbar-target" role="banner">
            <div class="site-logo">
              <a [routerLink]="['/home']">
                  <img src="assets/images/logo.png" alt="" class="logo" [ngClass]="{'white-logo' : whiteHeader}">
              </a>
            </div>
            <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-primary"></span></a></div>
       
          <nav class="site-navigation text-right ml-auto " role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block" [ngClass]="{'white-nav' : whiteHeader}">
              <li><a [routerLink]="['/home']" class="nav-link">Home</a></li>
              <li><a [routerLink]="['/universities']" class="nav-link">Universities</a></li>
              <li><a [routerLink]="['/mentors']" class="nav-link">Mentors</a></li>
              <li><a [routerLink]="['/events']" class="nav-link">Events</a></li>
              <li><a [routerLink]="['/plan-and-pricing']" class="nav-link">Plans and Pricing</a></li>
              <li><a [routerLink]="['/blog']" class="nav-link">Blog</a></li>
              <li><a [routerLink]="['/contact']" class="nav-link">Contact</a></li>
              <li><a  class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a></li>
            </ul>
          </nav>

  </header>

  <!--- modal-->
<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <h2 class="text-center">Login as</h2>
        <hr>
        <div class="row">
          <div class="col-6">
            <a [routerLink]="['/student-login']" data-dismiss="modal">
            <div class="modal-img">
              <img src="assets/images/icons/student.svg" alt="">
              <h5>
                Student
              </h5>
            </div>
          </a>
          </div>
          <div class="col-6">
            <a [routerLink]="['/mentor-login']" data-dismiss="modal">
              <div class="modal-img">
                <img src="assets/images/icons/teacher.svg" alt="">
                <h5>
                  Mentor
                </h5>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-small btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>