<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-7">
            <!-- <h2 class="footer-heading mb-4">About Us</h2> -->
            <div class="footer-img">
              <img src="assets/images/logo.png" alt="">
            </div>
            
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi,
              explicabo unde consectetur recusandae suscipit quae corporis aut
              nulla. Optio vitae illo ipsam beatae animi inventore? Molestias
              fugiat delectus.
            </p>
          </div>
          <div class="col-md-4 ml-auto">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a [routerLink]="['/universities']">Universities</a></li>
              <li><a [routerLink]="['/mentors']">Mentors</a></li>
              <li><a [routerLink]="['/events']">Events</a></li>
              <li><a [routerLink]="['/plan-and-pricing']">Plans and Pricing</a></li>
              <li><a [routerLink]="['/blog']">Blog</a></li>
              <li><a [routerLink]="['/contact']">Contact</a></li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 ml-auto">
        <h2 class="footer-heading mb-4">Contact</h2>

        <ul class="list-unstyled contact-list">
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <strong>Email: </strong> info@fadmits.com
          </li>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <strong>Address: </strong> Lorem ipsum dolor sit
          </li>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <strong>Phone: </strong> 7845457
          </li>
        </ul>
        <div class="mb-5">
          <h2 class="footer-heading mb-4">Follow Us</h2>
          <a href="#about-section" class="smoothscroll pl-0 pr-3"
            ><i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="#" class="pl-3 pr-3"
            ><i class="fa fa-instagram" aria-hidden="true"></i></a
          >
          <a href="#" class="pl-3 pr-3"
            ><i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="#" class="pl-3 pr-3"
            ><i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="#" class="pl-3 pr-3"
          ><i class="fa fa-whatsapp" aria-hidden="true"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</footer>
