<div class="site-section popular-courses gradient-bottom">
    <div class="container">
      <div class="page-head">
        <h1>
         Popular Plans
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, a.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="popular-card">
            <div class="p-img">
              <img
                src="http://foreignadmits.herokuapp.com/assets/images/plans.jpg"
                alt=""
              />
            </div>
            <div class="p-content">
              <h3 class="text-center">
                Statement of purpose
              </h3>
              <div class="p-details">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
      </p>

      <div class="p-footer">
        <div class="p-price">
          <span>
            <i class="fa fa-usd" aria-hidden="true"></i>
            1499
          </span>
        </div>
        <button class="btn btn-small btn-black" data-toggle="modal" data-target="#courseModal">
          Register
        </button>
      </div>
              </div>
            </div>
        
          </div>
        </div>
        <div class="col-lg-4">
          <div class="popular-card">
            <div class="p-img">
              <img
                src="http://foreignadmits.herokuapp.com/assets/images/plans.jpg"
                alt=""
              />
            </div>
            <div class="p-content">
              <h3 class="text-center">
                Statement of purpose
              </h3>
              <div class="p-details">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
      </p>

      <div class="p-footer">
        <div class="p-price">
          <span>
            <i class="fa fa-usd" aria-hidden="true"></i>
            1499
          </span>
        </div>
        <button class="btn btn-small btn-black" data-toggle="modal" data-target="#courseModal">
          Register
        </button>
      </div>
              </div>
            </div>
        
          </div>
        </div>
        <div class="col-lg-4">
          <div class="popular-card">
            <div class="p-img">
              <img
                src="http://foreignadmits.herokuapp.com/assets/images/plans.jpg"
                alt=""
              />
            </div>
            <div class="p-content">
              <h3 class="text-center">
                Statement of purpose
              </h3>
              <div class="p-details">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
      </p>

      <div class="p-footer">
        <div class="p-price">
          <span>
            <i class="fa fa-usd" aria-hidden="true"></i>
            1499
          </span>
        </div>
        <button class="btn btn-small btn-black" data-toggle="modal" data-target="#courseModal">
          Register
        </button>
      </div>
              </div>
            </div>
        
          </div>
        </div>
        <div class="col-lg-4">
          <div class="popular-card">
            <div class="p-img">
              <img
                src="http://foreignadmits.herokuapp.com/assets/images/plans.jpg"
                alt=""
              />
            </div>
            <div class="p-content">
              <h3 class="text-center">
                Statement of purpose
              </h3>
              <div class="p-details">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, sit.
      </p>

      <div class="p-footer">
        <div class="p-price">
          <span>
            <i class="fa fa-usd" aria-hidden="true"></i>
            1499
          </span>
        </div>
        <button class="btn btn-small btn-black" data-toggle="modal" data-target="#courseModal">
          Register
        </button>
      </div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
        
        </div>
  </div>

  <!-- buy course modal-->
<div class="modal" id="courseModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-center mb-0">Buy Course</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-img">
          <img src="assets/images/icons/patent.svg" alt="">
        </div>
        <form action="#" method="post">
          <div class="form-group row">
            <div class="col-md-12">
              <input type="email" class="form-control" placeholder="Enter email" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <button class="btn w-100">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
 Add to cart
              </button>
            </div>
          
          </div>
          </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-small btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>