.p-date{
    color: #444;
    font-size: 1rem;
    font-weight: 700;

    i{
        color: rgb(18, 108, 168);
        margin-right: 4px;
    }
}

.event-type-wrapper{
    padding: 0rem 0 4rem;

    h4{
        margin-bottom: 2rem;
    }
}

.p-content {
    padding: 1rem 1rem 1.5rem;
}
