<div class="site-section popular-courses gradient-bottom">
    <div class="container">
      <div class="page-head">
        <h1>
          Events
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur.
        </p>
      </div>
          <div class="container event-type-wrapper">
              <h4>
                  Upcoming Events
              </h4>

              <div class="row align-items-center">
                <div class="col-lg-4">
                  <div class="popular-card">
                    <div class="p-img">
                      <img
                        src="https://d24x5qendt1bag.cloudfront.net/uploads/2019/08/27092536/ME_Image-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="p-content">
                      <h3 class="">
                        2020! Welcome Seminar
                      </h3>
                      <div class="p-details">
                        <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem adipisci dolore totam labore at fugiat, debitis est nobis similique nesciunt iusto reprehenderit, consectetur placeat provident?
              </p>
              <div class="row align-items-center">
                  <div class="col-6 p-date ">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    12/03/2020
                    </div>
                    <div class="col-6">
                  <button class="btn btn-black btn-small text-right" data-toggle="modal" data-target="#eventModal">
                    Register
                  </button>
                </div>
              </div>
                      </div>
                    </div>
                
                  </div>
                </div>

                <div class="col-lg-4">
                    <div class="popular-card">
                      <div class="p-img">
                        <img
                          src="https://d24x5qendt1bag.cloudfront.net/uploads/2019/08/27092536/ME_Image-1.jpg"
                          alt=""
                        />
                      </div>
                      <div class="p-content">
                        <h3 class="">
                          2020! Welcome Seminar
                        </h3>
                        <div class="p-details">
                          <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem adipisci dolore totam labore at fugiat, debitis est nobis similique nesciunt iusto reprehenderit, consectetur placeat provident?
                </p>
          
                <div class="row align-items-center">
                  <div class="col-6 p-date ">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    12/03/2020
                    </div>
                    <div class="col-6">
                  <button class="btn btn-black btn-small text-right" data-toggle="modal" data-target="#eventModal">
                    Register
                  </button>
                </div>
              </div>
                        </div>
                      </div>
                  
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="popular-card">
                      <div class="p-img">
                        <img
                          src="https://d24x5qendt1bag.cloudfront.net/uploads/2019/08/27092536/ME_Image-1.jpg"
                          alt=""
                        />
                      </div>
                      <div class="p-content">
                        <h3 class="">
                          2020! Welcome Seminar
                        </h3>
                        <div class="p-details">
                          <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem adipisci dolore totam labore at fugiat, debitis est nobis similique nesciunt iusto reprehenderit, consectetur placeat provident?
                </p>
          
                <div class="row align-items-center">
                  <div class="col-6 p-date ">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    12/03/2020
                    </div>
                    <div class="col-6">
                  <button class="btn btn-black btn-small text-right" data-toggle="modal" data-target="#eventModal">
                    Register
                  </button>
                </div>
              </div>
                        </div>
                      </div>
                  
                    </div>
                  </div>
             
              </div>
          </div>

          <div class="container event-type-wrapper">
            <h4 class="mb-5">
                Past Events
            </h4>

            <div class="row align-items-center">
              <div class="col-lg-4">
                <div class="popular-card">
                  <div class="p-img">
                    <img
                      src="https://d24x5qendt1bag.cloudfront.net/uploads/2019/08/27092536/ME_Image-1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="p-content">
                    <h3 class="">
                      2019! Welcome Seminar
                    </h3>
                    <div class="p-details">
                      <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem adipisci dolore totam labore at fugiat, debitis est nobis similique nesciunt iusto reprehenderit, consectetur placeat provident?
            </p>
      
            <div class="row align-items-center">
              <div class="col-6 p-date ">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                12/03/2020
                </div>
                <div class="col-6">
              <button class="btn btn-black btn-small text-right" data-toggle="modal" data-target="#eventModal">
                Register
              </button>
            </div>
          </div>
                    </div>
                  </div>
              
                </div>
              </div>

                <div class="col-lg-4">
                  <div class="popular-card">
                    <div class="p-img">
                      <img
                        src="https://d24x5qendt1bag.cloudfront.net/uploads/2019/08/27092536/ME_Image-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="p-content">
                      <h3 class="">
                        2019! Welcome Seminar
                      </h3>
                      <div class="p-details">
                        <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem adipisci dolore totam labore at fugiat, debitis est nobis similique nesciunt iusto reprehenderit, consectetur placeat provident?
              </p>
        
              <div class="row align-items-center">
                <div class="col-6 p-date ">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                  12/03/2020
                  </div>
                  <div class="col-6">
                <button class="btn btn-black btn-small text-right" data-toggle="modal" data-target="#eventModal">
                  Register
                </button>
              </div>
            </div>
                      </div>
                    </div>
                
                  </div>
                </div>
           
            </div>
        </div>
   
        
        </div>
  </div>

  <!-- register event modal-->
<div class="modal" id="eventModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-center mb-0">Register for Event</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="popular-card">
          <div class="p-content">
            <h3 class="">
              2020! Welcome Seminar
            </h3>
            <div class="p-details">
              <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem adipisci dolore totam labore at fugiat, debitis est nobis similique nesciunt iusto reprehenderit, consectetur placeat provident?
    </p>

    <div class="p-date">
    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    12/03/2020
    </div>
            </div>
          </div>
      
        </div>
        <form action="#" method="post">
          <div class="form-group row align-items-center">
            <div class="col-md-8">
              <input type="email" class="form-control" placeholder="Enter email to register" />
            </div>
            <div class="col-md-4">
              <button class="btn btn-small w-100">
                Register
              </button>
            </div>
          
          </div>
          </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-small btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>