<!-- Header -->
<div class="header bg-primary pb-6">
    <h1>
      Accomodation
    </h1>
  </div>
  <div class="page-content">
  <!-- Page content -->
  <div class="container-fluid">
    <ngx-masonry [options]="{ transitionDuration: 0 }" [useImagesLoaded]="true">
        <div
          ngxMasonryItem
          class="masonry-item"
          *ngFor="let item of acc let i = index"
        >
        <div class="card dash-card">
         
            <div class="card-body border-0 ">
              <div class="row align-items-center">
                <div class="col-sm-12 text-center">
                  <img [src]="item.img" alt="" />
                </div>
            </div> 
            <h2 class="text-center">{{ item.name }}</h2>
            <div class="stat">
                <h4> 
                  <img src="assets/images/icons/location.svg" alt=""> Location: {{item.location}}
                </h4>
                <h4>
                  <img src="assets/images/icons/star-trek.svg" alt=""> Rating: {{item.rating}}
              </h4>
              <h4>
                  <img src="assets/images/icons/college.svg" alt=""> Student served: {{item.students}}
              </h4>
    </div>
                <hr>
                <h2 class="mt-2">Description</h2>
                <p>{{item.desc}}</p>
          
                <div class="col text-center card-footer">
                  <button type="button"
                  data-toggle="modal" data-target="#registerMentor"
                    class="btn btn-sm btn-primary"
                    >Book Appointment</button
                  >
                </div>
              </div>
            </div>
       
        </div>
        </ngx-masonry>

  </div>

  </div>

    <!-- mentor login modal-->
<div class="modal" id="registerMentor">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <h2 class="text-center mb-2">Apply for Accomodation Help</h2>
          <div class="modal-img">
            <img src="assets/images/icons/hotel.svg" alt="">
          </div>
          <form action="#" method="post">
            <div class="form-group row">
              <div class="col-md-12 mb-4 mb-lg-0">
                <input type="number" class="form-control" placeholder="Phone" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input type="Location" class="form-control" placeholder="Location" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <button class="btn w-100 btn-primary">
                  Confirm
                </button>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  