<div class="header bg-primary pb-6">
    <h1>
      Services Applied
    </h1>
  </div>
  <!-- Page content -->
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">Services Status</h3>
            </div>
            <!-- <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Company Name</th>
                    <th scope="col" class="sort" data-sort="budget">Type</th>
                    
                    <th scope="col" class="sort" data-sort="status">Date Applied</th>
                   
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  
                </tbody>
              </table>
            </div> -->
  
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                      <th scope="col" class="sort" data-sort="name">Company Name</th>
                      <th scope="col" class="sort" data-sort="budget">Type</th>
                      <th scope="col" class="sort" data-sort="status">Date Applied</th>
                      <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                          </a>
                          <div class="media-body">
                            <span class="name mb-0 text-sm">National Foreign Exchange</span>
                          </div>
                        </div>
                      </th>
                      <td class="budget">
                        FOREX
                      </td>
                    
                      
                      <td>
                        12, March 2020
                      </td>
                      
                    </tr>
                    <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                            </a>
                            <div class="media-body">
                              <span class="name mb-0 text-sm">National Foreign Exchange</span>
                            </div>
                          </div>
                        </th>
                        <td class="budget">
                          FOREX
                        </td>
                      
                        
                        <td>
                          12, March 2020
                        </td>
                        
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                            </a>
                            <div class="media-body">
                              <span class="name mb-0 text-sm">National Foreign Exchange</span>
                            </div>
                          </div>
                        </th>
                        <td class="budget">
                          FOREX
                        </td>
                      
                        
                        <td>
                          12, March 2020
                        </td>
                        
                      </tr>
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     
   
    </div>
  </div>
