.dash-card{
    margin: 1rem;
    img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-bottom: 1.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
}

@media screen and (min-width: 1200px) {
    .masonry-item {
      width: 33.3%;
    }
  }
  @media screen and (max-width: 1200px) {
    .masonry-item {
      width: 33.3%;
    }
  }
  @media screen and (max-width: 768px) {
    .masonry-item {
      width: 50%;
    }
  }
  @media screen and (max-width: 420px) {
    .masonry-item {
      width: 100%;
    }
  }