 <!-- Header -->
 <div class="header bg-primary pb-6">
 
    <h1>
       Upload Documents
    </h1>

</div>


<!-- Page content -->
<div class="container-fluid mt--6">

<div class="row">
  <div class="col-lg-4">
    <div class="card dash-card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="mb-0">SOP</h2>
          </div>
        </div>
      </div>

      <div class="card-body border-0 ">
          <div class="row align-items-center">
              <div class="col-sm-12 text-center">
                  <img src="assets/images/icons/assignment.svg" alt="" class="img">
              </div>
              <div class="col-sm-12">
                <input type="file" id="myfile" name="myfile" class="form-control">
            </div>
            <div class="col-12 text-center card-footer">
                <button type="button"
                  class="btn btn-sm btn-primary">Submit</button >
            </div>

          </div>
     
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card dash-card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="mb-0">Resume</h2>
          </div>
         
        </div>
      </div>

      <div class="card-body border-0 ">
          <div class="row align-items-center">
              <div class="col-sm-12 text-center">
                  <img src="assets/images/icons/business.svg" alt="" class="img">
              </div>
              <div class="col-sm-12">
                <input type="file" id="myfile" name="myfile" class="form-control">
            </div>
            <div class="col-12 text-center card-footer">
                <button type="button"
                  class="btn btn-sm btn-primary">Submit</button >
            </div>

          </div>
     
      </div>
    </div>
  </div>
  
  <div class="col-lg-4">
    <div class="card dash-card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="mb-0">Letter of Recommendation</h2>
          </div>
         
        </div>
      </div>

      <div class="card-body border-0 ">
          <div class="row align-items-center">
              <div class="col-sm-12 text-center">
                  <img src="assets/images/icons/best-seller.svg" alt="" class="img">
              </div>
              <div class="col-sm-12">
                <input type="file" id="myfile" name="myfile" class="form-control">
            </div>
            <div class="col-12 text-center card-footer">
                <button type="button"
                  class="btn btn-sm btn-primary">Submit</button >
            </div>
          </div>
     
      </div>
    </div>
  </div>
</div>

</div>