 <!-- Header -->
 <div class="header bg-primary pb-6">
    <a [routerLink]="['/student/universities']" class="btn back-btn btn-primary">Go back</a>
    <h1>
       University Details
    </h1>

</div>

<div class="page-content">
<!-- Page content -->
<div class="container-fluid mt-6">

  <div class="row">
    <div class="col-lg-8">
      <div class="card dash-card ">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">About University</h2>
            </div>
            
          </div>
        </div>
    
        <div class="card-body uni-detail-card border-0 ">
          <div class="text-center">
              <img src="https://storage.googleapis.com/fa-web-assets/logos/suny-buffalo-logo.jpg" alt="" class="uni-img"/>
            </div>
           <h1 class="uni-name">
              Purdue University West Lafayette (Purdue)
           </h1>
  
  
           <h2 >Description</h2>
  
           <p class="uni-desc">
              Started in 1869, Purdue University is a public research university located in West Lafayette, Indiana. It is one of the highest-rated universities in the USA, and rightly so. It is involved in very high levels of research, and has some of the best academic programs to offer. Before you read any further, you ought to know that you need an absolutely mind-boggling profile to get into Purdue. An extremely high GPA, some excellent research work, and a couple of international technical papers can give you a chance of making it to Purdue. Note how we say ‘can’ and not ‘will’ – it really is that hard. To get an idea, even IITians with breathtakingly good profiles find it difficult to get in.
           </p>
       
        </div>
      </div>
    </div>
   
    
    <div class="col-lg-4">
      <div class="card dash-card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">University Facts</h2>
            </div>
           
          </div>
        </div>
  
        <div class="card-body border-0 ">
               <div class="uni-stats">
                   <div class="row align-items-center stat">
                       <div class="col-2">
                           <img src="assets/images/icons/rating.svg" alt="" class="stat-img">
                       </div>
                       <div class="col-9 stat-text">
                          <h3>
                              Ranking : <span>Top 50</span>
                          </h3>
                       </div>
                   </div>
                   <div class="row align-items-center stat">
                      <div class="col-2">
                          <img src="assets/images/icons/maps-and-location.svg" alt="" class="stat-img">
                      </div>
                      <div class="col-9 stat-text">
                         <h3>
                             Location : <span>Indiana, US</span>
                         </h3>
                      </div>
                  </div>
                  <div class="row align-items-center stat">
                      <div class="col-2">
                          <img src="assets/images/icons/benefits.svg" alt="" class="stat-img">
                      </div>
                      <div class="col-9 stat-text">
                         <h3>
                             Top Recruitres: <span>To be updated</span>
                         </h3>
                      </div>
                  </div>
                  <div class="row align-items-center stat">
                      <div class="col-2">
                          <img src="assets/images/icons/choice.svg" alt="" class="stat-img">
                      </div>
                      <div class="col-9 stat-text">
                         <h3>
                             GRE Score : <span>Not Available at the movement</span>
                         </h3>
                      </div>
                  </div>
                  <div class="row align-items-center stat">
                      <div class="col-2">
                          <img src="assets/images/icons/choice.svg" alt="" class="stat-img">
                      </div>
                      <div class="col-9 stat-text">
                         <h3>
                             TOEFL Score : <span>Not Available at the movement</span>
                         </h3>
                      </div>
                  </div>
               </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-8">
      <div class="card dash-card ">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Courses Offered</h2>
            </div>
            
          </div>
        </div>
    
        <div class="card-body">
          <div class="row icon-examples">
            <div class="col-lg-3 col">
             <span class="btn-icon-clipboard">Computer Science</span>
            </div>
            <div class="col-lg-3 col">
              <span class="btn-icon-clipboard">Computer Science</span>
             </div>
             <div class="col-lg-3 col">
              <span class="btn-icon-clipboard">Computer Science</span>
             </div>
             <div class="col-lg-3 col">
              <span class="btn-icon-clipboard">Computer Science</span>
             </div>
             <div class="col-lg-3 col">
              <span class="btn-icon-clipboard">Computer Science</span>
             </div>
             <div class="col-lg-3 col">
              <span class="btn-icon-clipboard">Computer Science</span>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</div>
