.page-head{
    padding-bottom: 2rem;
}

.uni-tools{
    margin-bottom: 3rem;
    .form-control{
        margin-right: 10px;
    }
}

.uni-card{
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.uni-img{
    text-align: center;
    margin:1rem 0 0.5rem;

    img{
        border-radius: 50%;
        border: 1.2px solid #0000005c;
        padding: 0.25rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
}

.uni-name{
    h4{
        color: #222;
        font-size: 1.5rem;
        text-align: center;
    }
}


.uni-desc{
    border-top: 1.1px solid #00000021;
    padding: 1.5rem 0.8rem;

    p{
        font-weight: 700;
        color: rgb(1, 32, 68);
        line-height: 1.5;
        font-size: 0.9rem;
    }
   
}

.uni-place, .uni-rank{
    font-weight: 600;
    text-align: center;
    color: #888;

    p{
        margin: 0.5rem;

        i{
            margin-right: 8px;
            font-size:1.1rem;
            color: rgb(18, 96, 148);
        }
    }
}

.know-more{
    text-align: center;
    padding: 0.8rem 0;
    border-top: 1.1px solid #00000021;
    background-color: #fafafa;
}

