.site-section{
    background-image:linear-gradient(to bottom right, #ffffffc4, rgba(255, 255, 255, 0.705), #ffffffc2), url(/assets/images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}
