<div class="site-section top-mentors gradient-top">
    <div class="container">
      <div class="page-head">
        <h1>
          Meet our mentors
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, a.
        </p>
      </div>
      <div class="row align-items-stretch">
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-light text-center m-card">
            <a href="#" class="d-inline-block">
              <img
                src="assets/images/person_1.jpg"
                alt="Image"
                class="img-fluid"
              />
            </a>
            <div class="post-entry-1-contents">
              <h2>James Doe</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa,
                sapiente.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-light text-center m-card">
            <a href="#" class="d-inline-block">
              <img
                src="assets/images/person_2.jpg"
                alt="Image"
                class="img-fluid"
              />
            </a>
            <div class="post-entry-1-contents">
              <h2>James Doe</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa,
                sapiente.
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-light text-center m-card">
            <a href="#" class="d-inline-block">
              <img
                src="assets/images/person_3.jpg"
                alt="Image"
                class="img-fluid"
              />
            </a>
            <div class="post-entry-1-contents">
              <h2>James Doe</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa,
                sapiente.
              </p>
            </div>
          </div>
        </div>
      </div>
  
  <div class="text-center">
    <button class="btn mt-4" data-toggle="modal" data-target="#mregModal">
      Register as mentor
    </button>
  </div>
      
    </div>
  </div>

  <!-- mentor login modal-->
<div class="modal" id="mloginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-center mb-0">Login as Mentor</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-img">
          <img src="assets/images/icons/teacher.svg" alt="">
        </div>
        <form action="#" method="post">
          <div class="form-group row">
            <div class="col-md-12 mb-4 mb-lg-0">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <button class="btn w-100">
                Login
              </button>
            </div>
            <div class="col-md-12 text-center mt-4">
                <a href="" class="google-btn">
                  login with <img src="assets/images/icons/search.svg" alt="">
                </a>
            </div>
              <a href="" class="text-right reg-btn" data-dismiss="modal" data-toggle="modal" data-target="#mregModal"> new here? register yourself.</a>
          </div>
          </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-small btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- mentor registration modal-->
<div class="modal" id="mregModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-center mb-0">Register as Mentor</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-img">
          <img src="assets/images/icons/teacher.svg" alt="">
        </div>
        <form action="#" method="post">
          <div class="form-group row">
            <div class="col-md-12 mb-4 mb-lg-0">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12 mb-4 mb-lg-0">
              <input type="password" class="form-control" placeholder="Enter Password" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12 mb-4 mb-lg-0">
              <input type="password" class="form-control" placeholder="Confirm Password" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <button class="btn w-100">
                Register
              </button>
            </div>
            <div class="col-md-12 text-center mt-4">
                <a href="" class="google-btn">
                  signup with <img src="assets/images/icons/search.svg" alt="">
                </a>
            </div>
              <a href="" class="text-right reg-btn" data-dismiss="modal" data-toggle="modal" data-target="#mloginModal"> already registered? login.</a>
          </div>
          </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-small btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>